<!DOCTYPE html">
<html lang="en">
<head>
	<title> Email </title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }} + '/~parzysm1/apps/client1';</script>
    
    <script src="/~parzysm1/apps/client1/static/script.js"></script>
    <link rel="stylesheet" href="/~parzysm1/apps/client1/static/style.css">
    
</head>
<body>
	<div id='mainblock'>
	   <header> Klient notatek </header>
        <nav id="site-menu">
            <a href=# class='menu-item' id='notes'>Wszystkie notatki</a>
            <a href=# class='menu-item' id='new_note'> Utwórz notatkę</a>
            
        </nav>
    <div id='label'></div>
    <div id='section'></div>
    </div>

</body>
</html>

